/* External CSS */
body {
  background-color: #07f5e9;
  font-family: Verdana, sans-serif;
}

h3 {
  color: rgb(35, 44, 2);
  font-weight: bold;
}

p.external {
  color: navy;
  font-size: 16px;
}
